/* testing 123 */
:root {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --navbar-height: 5rem;
  --navbar-colour: #E9E9E9;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
  background-color: var(--navbar-colour);
}

.logo {
  cursor: pointer;
  padding: 0 2rem;
  margin: 0;
  letter-spacing: 0.3ch;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  background-color: grey;
}

.nav-list {
  list-style: none;
  padding: 0;
  width: 50%;
  margin: 0;
}

.navbar li {
  display: inline;
}

.nav-link:visited {
  color: black;
}

.nav-link {
  text-decoration: none;
  display: inline-block;
  width: 20%;
  padding: .75rem 0;
  text-align: center;
}

.nav-link:hover {
  color: grey;
}

.nav-link.active {
  font-weight: bold;
}

.nav-slide {
  height: .25rem;
  width: 20%;
  background-color: tomato;
  border: none;
  margin: 0;
  transition: .3s ease-in-out;
}