.heading {
  font-weight: 700;
  font-size: 2rem;
}

@keyframes FloatIn {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.float-in {
  opacity: 0;
  animation: FloatIn 1.5s ease forwards;
}

.container {
  margin: 2rem 3rem;
}

.line-break-normal {
  background-color: rgba(164, 164, 164, 0.5);
  background-image: none;
}

.card {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.5);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.03);
}
